

<!-- Service Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="">

      <h1 class="display-4">        نصائح صحية خلال شهر رمضان
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/25.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i>تناول الأطعمة الطازجة والطبيعية</h4>
            <p class="m-0">
              الحرص على تناول الأغذية التي تحتوي على الفيتامينات والمعادن خلال يوم الصيام كالفواكه والخضار. تناول طبق السلطة على وجبة الإفطار</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/8.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i>شرب كمية كافية من الماء</h4>
            <p class="m-0">
              شرب كميّة مناسبة من الماء بما لا يقل عن ثمانية أكواب في اليوم، مع ضرورة مراعاة شرب الماء على فترات لتفادي شعور الشخص بالثقل والانزعاج.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/10.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i>ممارسة الرياضة اليومية</h4>
            <p class="m-0">الحرص على المشي بعد تناول الإفطار بساعتين على الأقل، حيث يمكن للشخص الذهاب إلى صلاة التراويح مشياً على الأقدام.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/33.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i> احرص على تناول وجبة السحور </h4>
            <p class="m-0">
              الحرص على عدم ترك وجبة السحور على أي حالٍ من الأحوال، وينصح الأخصائيون بضرورة احتواء هذه الوجبة على النشويّات بطيئة الامتصاص كخبز القمح الكامل، والأرز ورقاق الفطور، وذلك من أجل الحفاظ على مستوى السكر في الدم لأطول فترةٍ ممكنة.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/19.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i>تجنب الأطعمة المقلية</h4>
            <p class="m-0">
              التي تحتوي على كميات عالية من الدهون، أو السكر، أو الملح في الوجبات.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/32.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i>تجنب النوم بعد الوجبات</h4>
            <p class="m-0">لتجنب عسر الهضم والانتفاخ فى رمضان.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/30.webp" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i>تناول التمر قبل أي شيء</h4>
            <p class="m-0">لأنّه يعمل على سد نقص السكر الذي حصل للجسم أثناء فترة الصيام.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="assets/31.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class=""></i>تجنّب تناول الأطعمة المملّحة</h4>
            <p class="m-0"> مثل المخللات والمكسرات، والمعلبات وكذلك الأغذية الصناعيّة</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
