<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body >
<div class="Parent">
  <div class="text">
    <audio src="assets/Music/Ramadan.mp3" autoplay loop  preload="none"></audio>
    <h1> إمساكية شهر رمضان الكريم</h1>
    <p> في رمضان جاهد نفسك قدر استطاعتك واغسل قلبك قبل جسدك ولسانك قبل يديك وأفسد كل محاولاتهم لإفساد صيامك واحذر أن تكون من أولئك الذين لا ينالهم من صيامهم سوى العطش والجوع </p>
    <div class="boutton">
      <a href="Amskaia.html"><i class="fa-solid fa-moon"></i> شوف الأمساكية من هنا</a>
    </div>
    <img src="assets/images/lantern.png" class="w-50 " alt="">
  </div>
</div>

</body>
</html>
