
<app-hero mainTitle=""
          imgUrl="assets/222.jpg">
</app-hero>

<br><br>
<div class="content-wrap">
  <div class="container clearfix">
    <div id="portfolio" class="clearfix portfolio-5">
      <!-- Assabile.com - Bloc -->
      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/salah']"><img src="/assets/salah-bukhatir.png" alt="Abderrahman Al Soudais" title="Abderrahman Al Soudais" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="Abderrahman Al Soudais" class="title-ptf">
            صلاح بوخاطر
          </p>
        </div>
      </div>

      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/saad']"><img src="/assets/saad-el-ghamidi.png" alt="Saad El Ghamidi" title="Saad El Ghamidi" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="Saad El Ghamidi" class="title-ptf">
            سعد الغامدي
          </p>
        </div>
      </div>

      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/mishary']"><img src="/assets/mishary-rashid-alafasy.png" alt="Mishary Rashid Alafasy" title="Mishary Rashid Alafasy" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="Mishary Rashid Alafasy" class="title-ptf">
            مشاري راشد العفاسي
          </p>
        </div>
      </div>

      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/soudais']"><img src="/assets/abdul-rahman-al-sudais.png" alt="Abderrahman Al Soudais" title="Abderrahman Al Soudais" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="Abderrahman Al Soudais" class="title-ptf">
            عبدالرحمن السديس
          </p>
        </div>
      </div>


      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/abdelbaset']"><img src="/assets/abdelbasset-abdessamad.png" alt="abdelbasset-abdessamad" title="Mishary Rashid Alafasy" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="Mishary Rashid Alafasy" class="title-ptf">
            عبد الباسط عبد الصمد
          </p>
        </div>


      </div>


      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/abubakr']"><img src="/assets/abu-bakr-al-shatri.png" alt="Mishary Rashid Alafasy" title="Mishary Rashid Alafasy" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="Mishary Rashid Alafasy" class="title-ptf">
            أبو بكر الشاطري
          </p>
        </div>
      </div>

      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/saoud']"><img src="/assets/saoud-shuraim.png" alt="ahmed-al-ajmi" title="ahmed-al-ajmi" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="saoud-shuraim" class="title-ptf">
            سعود الشريم
          </p>
        </div>
      </div>

      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/maher']">
            <img src="/assets/maher-al-mueaqly.png" alt="maher-al-mueaqly" title="Maher Al-Mueaqly">
          </a>

        </div>
        <div class="portfolio-title">
          <p title="Mishary Rashid Alafasy" class="title-ptf">
            ماهر المعيقلي
          </p>
        </div>
      </div>

      <div class="portfolio-item pf-uielements isotope-item">
        <div class="portfolio-image">
          <a [routerLink]="['/fares']"><img src="/assets/fares-abbad.png" alt="Mishary Rashid Alafasy" title="Mishary Rashid Alafasy" style="visibility: visible; opacity: 1; display: block;"></a>
        </div>
        <div class="portfolio-title">
          <p title="Mishary Rashid Alafasy" class="title-ptf">
            فارس عباد
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
